<!DOCTYPE html>
  <html>
    <head>
      <title>Add a Student</title>
    </head>
    <body>
      <form action="/student" method="post">
        Student Name:<br>
        <input type="text" name="student[name]"><br>
        Student Grade:<br>
        <input type="text" name="student[grade]"><br>
        <input type="submit">
      </form>
    </body>
  </html>
